body{
	margin :0;
	padding:0;
}



#start{
	padding: 20px;
	margin:auto;
	padding-top: 15rem;
	width: 75%;
	display: flex;
	text-transform: uppercase;
}

.boxes{
	border:solid;
	width: 7.5%;
	margin: auto;
	height: 80px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

}
.words{
	color: white;
	text-align: center;
	font-size: 1.6vw;
	opacity: 0.9;
	font-weight: 900;
	padding: 0;
	margin-bottom: 0.7rem;
}

.beat{
	color: yellow;
	text-align: center;
	font-size: 0.8vw;
	font-weight: 900;
	padding: 0;
	margin: 0;
}

.transboxes{
	border:solid;
	border-color:yellow;
	width: 8%;
	float: left;
	margin-left: 2%;
	height: 90px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	box-shadow: 0px 0px 4px 2px yellow;
	transition: all .07s ease;

}
.transwords{
	color: white;
	text-align: center;
	font-size: 1.8vw;
	opacity: 0.9;
	font-weight: 900;
	padding: 0;
	margin-bottom: 0.7rem;
	transition: all .07s ease;
}

.transbeat{
	color: yellow;
	text-align: center;
	font-size: 1vw;
	font-weight: 900;
	padding: 0;
	margin: 0;
	transition: all .07s ease;
}







